In [1]:
from keras.models import load_model
model = load_model('my_model.h5')

/anaconda3/anaconda3/lib/python3.6/site-packages/h5py/__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
Using TensorFlow backend.

In [2]:
import numpy
import pandas as pd

In [3]:
all_df = pd.read_csv("trainnosu.csv")

In [4]:
cols=['suicide', 'sexuality', 'age', 'Education', 'rank', 'militaryservice', 'Time','testResult','hadSuicideMessage', 'confirmedDisease','emotionalProblems', 'mentalillness', 'familySuicideHistory','familyMembers', 'workplacePressure', 'EconomicIssues','personalPressure']
all_df=all_df[cols]

In [5]:
def PreprocessData(raw_df):
    all_df['sexuality'] = all_df['sexuality'].astype('category').cat.codes
    all_df['Education'] = all_df['Education'].astype('category').cat.codes
    all_df['rank'] = all_df['rank'].astype('category').cat.codes
    all_df['militaryservice'] = all_df['militaryservice'].astype('category').cat.codes
    all_df['Time'] = all_df['Time'].astype('category').cat.codes
    all_df['testResult'] = all_df['testResult'].astype('category').cat.codes
    #df['sexuality']= df['sexuality'].map({'female':0, 'male': 1}).astype(int)
    #x_OneHot_df = pd.get_dummies(data=df,columns=["Embarked" ])

    #ndarray = x_OneHot_df.values
    ndarray = all_df.values
    Features = ndarray[:,1:]
    Label = ndarray[:,0]
    from sklearn import preprocessing
    minmax_scale = preprocessing.MinMaxScaler(feature_range=(0, 1))
    scaledFeatures = minmax_scale.fit_transform(Features)    
    
    return scaledFeatures,Label

In [6]:
train_Features,train_Label=PreprocessData(train_df)
test_Features,test_Label=PreprocessData(test_df)

NameError: name 'train_df' is not defined

In [ ]:
scores = model.evaluate(x=test_Features, 
                        y=test_Label)

In [ ]:
scores[1]

In [ ]:
jack = [0,'male',20,'s','soldier','c','M','mediumHeightCareType',0,0,0,1,1,0,1,0,1]

In [ ]:
jack_df = pd.DataFrame([list(jack)],columns = ['suicide', 'sexuality', 'age', 'Education', 'rank', 'militaryservice', 'Time','testResult', 'hadSuicideMessage', 'confirmedDisease','emotionalProblems', 'mentalillness', 'familySuicideHistory','familyMembers', 'workplacePressure', 'EconomicIssues','personalPressure'])

In [ ]:
all_df = pd.concat([all_df,jack_df])

In [7]:
all_df[-1:]

,suicide,sexuality,age,Education,rank,militaryservice,Time,testResult,hadSuicideMessage,confirmedDisease,emotionalProblems,mentalillness,familySuicideHistory,familyMembers,workplacePressure,EconomicIssues,personalPressure
1239,0,male,28,s,officer,v,L,D,0,0,1,0,0,0,0,0,0

In [8]:
all_Features,Label=PreprocessData(all_df)

/anaconda3/anaconda3/lib/python3.6/site-packages/sklearn/utils/validation.py:590: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)

In [9]:
all_probability=model.predict(all_Features)

In [10]:
print(all_probability[:13])

[[0.7200347 ]
 [0.247422  ]
 [0.9999044 ]
 [0.99936503]
 [0.7200347 ]
 [0.9991297 ]
 [0.99564785]
 [0.99993134]
 [0.99961483]
 [0.9998404 ]
 [0.99007213]
 [0.6685546 ]
 [0.9999976 ]]

In [11]:
pd=all_df
pd.insert(len(all_df.columns),
          'probability',all_probability)

In [12]:
pd[-1:]

,suicide,sexuality,age,Education,rank,militaryservice,Time,testResult,hadSuicideMessage,confirmedDisease,emotionalProblems,mentalillness,familySuicideHistory,familyMembers,workplacePressure,EconomicIssues,personalPressure,probability
1239,0,1,28,2,0,1,0,3,0,0,1,0,0,0,0,0,0,0.999689